@tailwind base;
@tailwind components;
@tailwind utilities;

.activeLightColor {
  background-color: rgb(243 244 246);
}
.activeDarkColor {
  background-color: #202124;
}

.hoverLightColor:hover {
  background-color: rgb(243 244 246);
}
.hoverDarkColor:hover {
  background-color: #202124;
}
.arrow {
  display: none;
}
body {
  height: 100dvh;
  background-color: #000;
  overflow-x: hidden;
  overflow: hidden;
  color: white;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

@media (width < 750px) {
  .arrow {
    display: block;
  }
}
