@tailwind base;
@tailwind components;
@tailwind utilities;

.activeLightColor {
  background-color: rgb(243 244 246)
}
.activeDarkColor{
  background-color: #202124
}

.hoverLightColor:hover {
  background-color: rgb(243 244 246)
}
.hoverDarkColor:hover{
  background-color: #202124
}
.arrow{
  display: none;
}
@media (width < 750px){
  .activeDarkColor{
    background-color:transparent;
  }
  .activeLightColor{
    background-color:transparent;
  }
  .arrow{
    display: block;
  }
}